---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="project-container">
  	<h2>React JS Projects:</h2>
    
    <div class="project">
      <a target="_blank" href="https://shwetapaliwal9.github.io">
        <img src="./assets/project/restaurant_finder.png" class="project-image">
      </a>
      <h3>Restaurant finder using zomato API</h3>
      <a target="_blank" href="https://shwetapaliwal9.github.io">Demo link</a>
      <a target="_blank" href="https://github.com/shweta24paliwal/Restaurant-Finder">Source Code</a>
    </div>
    <div class="project">
      <a target="_blank" href="./weather/index.html">
        <img src="./assets/project/weather.png" class="project-image">
      </a>
      <h3>Weather Application</h3>
      <a target="_blank" href="./weather/index.html">Demo link</a>
      <a target="_blank" href="https://github.com/shweta24paliwal/weatherWidget">Source Code</a>
    </div>
  	<div class="project">
      <a  target="_blank" href="./todo/index.html">
  		  <img src="./assets/project/todo_index.png" class="project-image">
      </a>  
  		<h3>Todo Application</h3>
  		<a target="_blank" href="./todo/index.html">Demo link</a>
  		<a target="_blank" href="https://github.com/shweta24paliwal/todo">Source Code</a>
  	</div>	
  	<div class="project">
      <a target="_blank" href="./image-slider/index.html">
  		  <img src="./assets/project/image-slider.png" class="project-image">
      </a> 
  		<h3>Image slider</h3>
  		<a target="_blank" href="./image-slider/index.html">Demo link</a>
  		<a target="_blank" href="https://github.com/shweta24paliwal/image-slider">Source Code</a>
  	</div>
  	<div class="project">
      <a target="_blank" href="./calculator/index.html">
  		  <img src="./assets/project/calculator.png" class="project-image">
      </a>  
  		<h3>Calculator</h3>
  		<a target="_blank" href="./calculator/index.html">Demo link</a>
  		<a target="_blank" href="https://shweta24paliwal.github.io/calculator/index.html">Source Code</a>
  	</div>
  </div>

  <div class="project-container">
    <h2>CSS Templates:</h2>
    <div class="project">
      <a target="_blank" href="./Checkout-template/checkout-template.html">
        <img src="./assets/project/checkout.png" class="project-image">
      </a>  
      <h3>Checkout Template</h3>
      <a target="_blank" href="./Checkout-template/checkout-template.html">Demo link</a>
      <a target="_blank" href="https://github.com/shweta24paliwal/checkout-template">Source Code</a>
    </div>  
    
  </div>

    <p class="rss-subscribe" style="clear:both">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
